[submodule "awesome_gen_ai_hots/awesome-generative-ai-guide"]
	path = awesome_gen_ai_hots/awesome-generative-ai-guide
	url = https://github.com/aishwaryanr/awesome-generative-ai-guide.git
[submodule "awesome_gen_ai_hots/awesome-generative-ai-steven2358"]
	path = awesome_gen_ai_hots/awesome-generative-ai-steven2358
	url = https://github.com/steven2358/awesome-generative-ai.git
[submodule "awesome_gen_ai_hots/awesome-generative-ai-filipecalegario"]
	path = awesome_gen_ai_hots/awesome-generative-ai-filipecalegario
	url = https://github.com/filipecalegario/awesome-generative-ai.git
[submodule "gen_ai_papers/GenAI_Papers_kevinknights29"]
	path = gen_ai_papers/GenAI_Papers_kevinknights29
	url = https://github.com/kevinknights29/GenAI_Papers.git
[submodule "awesome_gen_ai_hots/Awesome-Diffusion-Models_diff-usion"]
	path = awesome_gen_ai_hots/Awesome-Diffusion-Models_diff-usion
	url = https://github.com/diff-usion/Awesome-Diffusion-Models.git
[submodule "learning_notebooks/learn-generative-ai_panaverse"]
	path = learning_notebooks/learn-generative-ai_panaverse
	url = https://github.com/panaverse/learn-generative-ai.git
[submodule "learning_notebooks/transformers-gen-ai_AlexIoannides"]
	path = learning_notebooks/transformers-gen-ai_AlexIoannides
	url = https://github.com/AlexIoannides/transformers-gen-ai.git
[submodule "learning_notebooks/generative-ai_silvererudite"]
	path = learning_notebooks/generative-ai_silvererudite
	url = https://github.com/silvererudite/generative-ai.git
[submodule "learning_notebooks/gan-projects_nerminnuraydogan"]
	path = learning_notebooks/gan-projects_nerminnuraydogan
	url = https://github.com/nerminnuraydogan/gan-projects.git
[submodule "learning_notebooks/diffusion-gan-vae-pytorch_deepmancer"]
	path = learning_notebooks/diffusion-gan-vae-pytorch_deepmancer
	url = https://github.com/deepmancer/diffusion-gan-vae-pytorch
[submodule "learning_notebooks/GenerativeModels_Project-MONAI"]
	path = learning_notebooks/GenerativeModels_Project-MONAI
	url = https://github.com/Project-MONAI/GenerativeModels
[submodule "learning_notebooks/generative-ai-notebooks_ScaDS"]
	path = learning_notebooks/generative-ai-notebooks_ScaDS
	url = https://github.com/ScaDS/generative-ai-notebooks
[submodule "learning_notebooks/Synthesis-Studio_mijanr"]
	path = learning_notebooks/Synthesis-Studio_mijanr
	url = https://github.com/mijanr/Synthesis-Studio
[submodule "learning_notebooks/genai-sandbox_digicatapult"]
	path = learning_notebooks/genai-sandbox_digicatapult
	url = https://github.com/digicatapult/genai-sandbox
